.auth-modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 2000;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.37);
}
.auth-modal.active {
  display: flex;
}
#closeAuth,
.auth-close {
  cursor: pointer;
  background: none;
  border: none;
}
.auth-modal .modal {
  padding: 50px;
}
.auth-modal .img-ad img {
  width: 350px;
  height: 380px;
  border-radius: 20px;
  padding: 20px;
}
.auth-modal .container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  border-radius: 20px;
  height: 400px;
  width: 800px;
}
.modal > form {
  gap: 10px;
}
.modal > form input {
  width: 360px;
  height: 50px;
  border: 1px solid white;
  border-radius: 10px;
  margin: 5px;
  padding: 0;
}
.modal > form button {
  width: 360px;
  height: 50px;
  border: 1px solid white;
  border-radius: 10px;
  margin: 5px;
  padding: 0;
  cursor: pointer;
}
.modal > form button:hover {
  background-color: rgb(48, 43, 43);
}
